.pageNumber {
    color: rgb(212, 238, 253);
    padding-top: 1.4em;
    font-size: 1.5em;
  }

  .pageNumber2 {
    color: rgb(0, 0, 0);
    padding-top: 1.4em;
    font-size: 1.5em;
  }
  
  .navArrow {
    height: 5em;
    padding: 1em;
    cursor: pointer;
  }

  .navPage {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
  }